.background{
    background: hsla(206, 30%, 21%, 1);
    background: linear-gradient(90deg, hsla(206, 30%, 21%, 1) 0%, hsla(200, 64%, 6%, 1) 1%, hsla(206, 45%, 12%, 1) 17%, hsla(206, 30%, 21%, 1) 41%, hsla(223, 30%, 42%, 1) 61%, hsla(191, 9%, 64%, 1) 88%, hsla(165, 4%, 81%, 1) 100%);  
    background: -moz-linear-gradient(90deg, hsla(206, 30%, 21%, 1) 0%, hsla(200, 64%, 6%, 1) 1%, hsla(206, 45%, 12%, 1) 17%, hsla(206, 30%, 21%, 1) 41%, hsla(223, 30%, 42%, 1) 61%, hsla(191, 9%, 64%, 1) 88%, hsla(165, 4%, 81%, 1) 100%);   
    background: -webkit-linear-gradient(90deg, hsla(206, 30%, 21%, 1) 0%, hsla(200, 64%, 6%, 1) 1%, hsla(206, 45%, 12%, 1) 17%, hsla(206, 30%, 21%, 1) 41%, hsla(223, 30%, 42%, 1) 61%, hsla(191, 9%, 64%, 1) 88%, hsla(165, 4%, 81%, 1) 100%);   
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#253745", endColorstr="#06141B", GradientType=1 );
}
.card-shadow{
-webkit-box-shadow: 3px 3px 8px -1px rgb(196, 186, 186);
-moz-box-shadow: 3px 3px 8px -1px rgb(177, 171, 171);
box-shadow: 3px 3px 8px -1px rgb(155, 153, 153);
}
