body{
    margin: 0px;
    padding: 0px;
}
.links{
  text-decoration: none;
  color: inherit;
}
.badge-hover {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transición suave */
  }
.badge-hover:hover {
    background-color: #f8f9fa !important; /* Cambiar color al pasar el mouse */
    color: #343a40 !important;
    
  }

  /* registro y login */
  .bgcard{
    background-image: url("./assets/Background/fondomobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width:768px) {
      width: 90%;
    }
  }
  .imgstyle{
    object-fit: cover;
    height: 100%;
    width: 100%;
  @media (max-width:768px) {
    
    width: 80%;
  }  
  }
  .responsive{
    @media (max-width:768px) {
        font-size: 12px;
        color: #343a40;
        span{
            font-size: 16px;
        }
    }
  }
  .error{
    padding: 0.5rem;
    background-color: rgb(238, 126, 126);
    color: rgb(192, 4, 4);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
  }

.li-navbar-hover {
    transition: all 0.3s ease-in-out; /* Transición suave */
  }
.li-navbar-hover:hover {
    font-weight: bolder;
    
  }

  .navbar-toggler {
    background-color: transparent;
  
    @media (max-width: 768px) {
      background-color: #f3f0f0; 
    }
  }
  .carrito-responsive{
   
    @media (max-width: 768px) {
      position: relative;
      right: 5rem;
      background-color: #eee;
      
    }
  }

  .add-img{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
  }
  .add-hover{
    width: 60px;
    height: 60px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
    font-size: 12px;
  }
  .add-hover:hover{
    background-color: #ada2a2;
    color: #eee;

  }
  
  .fontFamilyTitle{
    font-size:1.5rem;
    font-family:Lobster, sans-serif;
  }

  .show-hide{
    width: auto;
    position: relative;
    top: -5.5rem;
    left: 5.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #343a40;
  }

  .actions-articulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:1rem;
    padding: 1rem;
    font-size: 1.5rem;
    @media (max-width:768px) {
      justify-content: center;
    }
    }
    .edit, .delete{
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
    .fonticon{
      color: #000;
      transition: all ease-in-out 0.5s;
    }
    .fonticon:hover{
      color: #313131;
     } 
   
  .actions-articulo-span{
   align-items: center;
   text-align: center;
   font-size: 10px; 
   visibility: hidden;
   transition: visibility ease-in-out 0.3s ;
  }
.edit:hover .actions-articulo-span,
.delete:hover .actions-articulo-span {
  visibility: visible;

  @media (max-width:768px) {
    visibility: hidden;
  }
}
 
.mySwiper{
  height: 70%;
  
  @media (max-width:768px) {
    padding-top: 1rem;
    height: 100%;
  }
 
}
.imgSwiper, img{
  object-fit: contain;
}

/* componente de inicio */
